h2 {
	font-weight: bold;
}

a {
	color: #e4026f;
	text-decoration-line: none;
	position: relative;
}

a::before {
	content: "";
	bottom: 0;
	width: 0;
	height: 0.1rem;
	transition: 0.5s ease-in-out;
	position: absolute;
}

a:hover::before {
	width: 100%;
	background-color: #e4026f;
}
